<div class="col-md-offset-2">
    <ul class="nav nav-pills">
        <li><a href="#login">Admin Log In</a></li>
        <li><a href="#register">Register</a></li>
    </ul>
</div>
<section>
    <form novalidate ng-submit="register(user)" class="text-center">
        <h3>Welcome, please sign up</h3>
            <label for="username">Username: </label>
            <input type="text" name="username" ng-model="user.username" ng-required="true" id="username"/><br>
            <label for="password">Password: </label>
            <input type="password" name="password" ng-model="user.password" ng-required="true" id="password"/><br>
            <button type="submit" class="btn btn-info">Sign Up</button>
    </form>
</section>
