.sidebar{
    position: fixed;
    border: 1px solid black;
    width: 250px;
    margin-right: 5px;
    margin-left: 5px;
}

.flies{
    margin-left: 275px;
    margin-right: 20px;
}

.description{
    width: 500px;
    height: 100px;
}




